@font-face {
  font-family: 'Benzin';
  src: local('Benzin Extra Bold'), local('Benzin-Extra-Bold'),
    url('../../fonts/Benzin-ExtraBold.woff2') format('woff2'),
    url('../../fonts/Benzin-ExtraBold.woff') format('woff'),
    url('../../fonts/Benzin-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}